@font-face {
    font-family: GameFont;
    src: url("retro.ttf");
}

@font-face {
    font-family: TitleFont;
    src: url("nokia.ttf");
}

@font-face {
    font-family: ExtraTitle;
    src: url("Cyberway-Riders");
}



.IIV::-webkit-media-controls-play-button,
video::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
}
